<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>AM_SEM2_2015</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>javax.servlet.jsp.jstl.fmt.localizationContext</param-name>
    <param-value>resources.application</param-value>
  </context-param>
  <context-param>
    <param-name>urlBD</param-name>
    <param-value>jdbc:oracle:thin:/:@oracle.fiap.com.br:1521:ORCL</param-value>
  </context-param>
  <context-param>
    <param-name>usuarioBD</param-name>
    <param-value>OPS$RM74795</param-value>
  </context-param>
  <context-param>
    <param-name>senhaUsuarioBD</param-name>
    <param-value>251295</param-value>
  </context-param>
</web-app>